block header

  .header
    .header__container
        .header__left
            i(class="fas fa-chevron-left header__left-arrow")

            .header__city Lima

        .header__right
            .header__add-dates Agrega fechas

            i(class="fab fa-mendeley header__menu-filter")